

#FindMe {
	background: url('/images/milky_way.jpg') top center no-repeat fixed;

	.links_wrapper {
		margin-top: 140px;

		ul {
			display: block;
			overflow: auto;


			li {
				margin-top: 196px;
				overflow: auto;

				.circle {
					display: table;
					line-height: 100%;
					border-radius: 100%;
					background: transparentize(black, .4);
					border: 14px solid transparentize(white, .65);
					box-shadow: inset 0px 0px 0px 14px transparentize(white, .7);
					width: 140px;
					height: 140px;
					margin: 0 auto;
					cursor: pointer;

					&:hover {
						background: transparentize(white, .4);
						border: 14px solid transparentize(black, .65);
						box-shadow: inset 0px 0px 0px 14px transparentize(black, .7);
						a {
							color: black;
						}
					}

					a {
						display: table-cell;
						vertical-align: middle;
						text-align: center;

						font-size: 18px;
						line-height: normal;
						color: white;
						&:hover { text-decoration: none; }
					}
				}
			}
		}
	}
}