@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";
@import "my_utilities";



/* box-sizing reset.  Make padding make sense! */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	list-style: none;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	font-family: 'BebasNeueRegular';
	letter-spacing: 1px;
}



#Page {
	width: 100%;
	display: block;
	float: left;
	overflow: auto;
}


.navigable_section {
	position: relative;
	display: block;
	overflow: hidden;
	float: left;
	width: 100%;
	height: 700px;

	// Create an inset shadow on the top.
	&:before {
		display: block;
		content: ' ';
		position: absolute;
		top: 0px; left: 15%; z-index: 999;
		width: 70%;
		height: 0px;
		background: black;
		border-radius: 100%;
		box-shadow: 0px -55px 150px 30px #111;
	}
}








/* Bebas Neue */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../assets/fonts/bebas-neue/BebasNeue-webfont.eot');
    src: url('../assets/fonts/bebas-neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/bebas-neue/BebasNeue-webfont.woff') format('woff'),
         url('../assets/fonts/bebas-neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../assets/fonts/bebas-neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


// import the smaller sections.
@import "main_header";
@import "hello";
@import "portfolio";
