

#MainHeader {

	width: 100%;
	//min-height: 70px;
	background: rgba(0,0,0,0.9);
	display: block;
	float: left;

	.title {
		//font: 30px/34px 'BebasNeueRegular', Arial, sans-serif;
		//letter-spacing: 0px;
		font-size: 30px;
		line-height: normal;
		color: white;
		//margin-left: 21px;
	}

	.main_nav {
		ul {

			display: block;
			overflow: auto;
			list-style: none;
			float: right;

			li {

				//font: 18px/normal 'BebasNeueRegular', Arial, sans-serif;
				//letter-spacing: 0px;
				font-size: 18px;
				margin: 12px 10px 0px;
				float: left;
				color: white;
				border-bottom: 2px solid transparent;
				cursor: pointer;

				&.active {
					border-bottom: 2px solid white;
				}
			}
		}
	}
}