@import "compass_twitter_bootstrap";
//@import "reset";

/* box-sizing reset.  Make padding make sense! */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

#Resume {
	padding-top: 10px;

	#BasicInfo {
		overflow: hidden;
		img { border-radius: 6px; }
	}
}