//@import "compass_twitter_bootstrap";

@mixin transition( $property, $duration, $timing_function ) {
	-webkit-transition: $property $duration $timing_function;
	-moz-transition: $property $duration $timing_function;
	-ms-transition: $property $duration $timing_function;
	-o-transition: $property $duration $timing_function;
	transition: $property $duration $timing_function;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin transition-transform($duration, $timing_function) {
	-webkit-transition: -webkit-transform $duration $timing_function;
	-moz-transition: -moz-transform $duration $timing_function;
	-ms-transition: -ms-transform $duration $timing_function;
	-o-transition: -o-transform $duration $timing_function;
	transition: transform $duration $timing_function;
}

@mixin text-inset( $color_of_background ) {
	color: darken($color_of_background, 35);
	text-shadow: 1px 4px 6px lighten($color_of_background, 2), 
	    		0 0 1px darken($color_of_background, 65), 
	    		1px 4px 6px lighten($color_of_background, 1.5);
}

@mixin radial-background-gradient( $base_color ) {
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: $base_color; // Old browsers
	//@include filter-gradient($base_color, #b7ad70, horizontal); // IE6-8 fallback on horizontal gradient
	$experimental-support-for-svg: true;
	@include background-image(radial-gradient(center, ellipse cover,  
		$base_color 0%,
		darken($base_color, 8) 40%,
		darken($base_color, 15) 100%));
}