#Portfolio { 

	background-color: transparentize(green, 0.6);

	.projects-wrapper {
		width: 100%;
		overflow: auto;
	}

	.list-of-projects {
	    height: 600px;
	    white-space: nowrap;

		.project {
			display: inline-block;
			vertical-align: top;
			float: left;
			width: 700px;
			height: 500px;
			background: black;
			margin: 50px;
		}
	}
}