

#About_Me {
	height: 100%;
	background-image: url('../images/milky_way.jpg');
	color: #E5D9CB;

	.project-view, .project-selection {
		width: 100%;
		float: left;
		overflow: auto;
	}

	.project-view {
		height: 400px;
	}

	.project-selection {
		height: 100px;	}
}