
@import "my_mixins";

// Kuler - Charcoal SubLime
$color_1 : #9C9B46;
$color_2 : #424140;
$color_3 : #B05D46;
$color_4 : #B8733F;
$color_5 : #B58940;


#Works {
	background: $color_1;
	height: 100%;

	.project-view, .project-selection, .project-links {
		width: 100%;
		float: left;
		overflow: auto;
	}

	// This holds detailed informatino about the project.
	// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.project-view {
		height: 70%;
		padding-top: 20px;

		.description {
			.list-of-cool-things {
				list-style-type: circle;
				li {
					list-style-type: circle;
				}
			}
		}

		.preview {
			min-height: 200px;
			max-height: 100%;
		}
	}



	// This holds the links to project code & live viewing.
	// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.project-links {
		height: 15%;
		background-color: $color_4;
		box-shadow: 0px 0px 25px -15px black;
	}



	// This holds the links to other projects.
	// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~
	.project-selection {
		height: 15%;
		//border-top: 1px dashed black;

		.project-list {
			display: block;
			margin: 0 auto;
			padding: 0;
			overflow: auto;
			list-style: none;
			width: 60%;
		}

		.project {
			min-height:60px;
			float: left;

			.icon {
				height: 60px;
				width: 60px;
				margin: 20px auto 0px;
				background: $color_2;
				border: 2px solid $color_2;
				@include transition(border-color, .15s, linear);

				&.current {
					border-color: white;
				}
			}

			//figure {
			//	display: block;
			//	margin: 0 auto;
			//	background: #F6FFF5;
			//	box-shadow: inset 0px 0px 50px -17px black;
			//	border-radius: 150px/200px;
			//	height: 200px;
			//	width: 150px;
			//}
		}
	}
}