#AboutMe { 

	background-color: transparentize(green, 0.85);
	background-image: url("../../images/thegift.jpg");
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-attachment: fixed;
	background-size: cover; 
	color: white;

	text-transform: uppercase;
}