<section id="FindMe" class="navigable_section">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="links_wrapper span12">
				<ul class="row-fluid">
					<li class="span3">
						<div class="circle">
							<a>gmail</a>
						</div>
					</li>
					<li class="span3">
						<div class="circle">
							<a>google+</a>
						</div>
					</li>
					<li class="span3">
						<div class="circle">
							<a>github</a>
						</div>
					</li>
					<li class="span3">
						<div class="circle">
							<a>CV</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>