<section id="FindMe" class="navigable_section" ng-style="section_dynamics_styling">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="links_wrapper span12">
				<ul class="row-fluid">
					<li class="span3">
						<div class="circle">
							<a href="mailto:iambrandonmcgregor@gmail.com">gmail</a>
						</div>
					</li>
					<li class="span3">
						<div class="circle">
							<a href="https://plus.google.com/100096326449379160847/posts">google+</a>
						</div>
					</li>
					<li class="span3">
						<div class="circle">
							<a href="https://github.com/IAmBrandonMcGregor">github</a>
						</div>
					</li>
					<li class="span3">
						<div class="circle">
							<a href="https://docs.google.com/document/d/1R8cpPf8fFlDE4EUvpLMa88yMttaMQ-aCVJWTvpsofIE/pub">CV</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>