<section id="Hello" class="navigable_section">
	<div class="container">
		<div class="row">
			<h1 class="span12">Hello.</h1>
			<h1 class="span12">My name is Brandon.</h1>
			<h1 class="span12">//&nbsp I am a programmer. </h1>
			<p class="span12 words">
				I am a web programmer professionally and an amateur game developer. I like many things about the internet. Developing software that runs within a browser is about the most fun I could ask for. As a professional and web idealist, I am constantly trying to push myself and this industry forward. If that means squeaking in a few shiny new web technologies for anyone running chrome, then so be it. If that means developing cutting edge web experiments and exercises that require a modern browser to run, then that's cool too.
			</p>
		</div>
	</div>
</section>