
<!-- <section id="TitleWrapper" class="row hero-unit">
	<h1 class="span12">Brandon McGregor</h1>
	<em><h6 class="span12">Professional web developer.  Amateur game developer.</h6></em>
</section> -->

<nav id="MainNavigation">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="name_wrapper span7">
				<h5 class="name" ng-class="{true: 'small', false: 'large'}[minimize_name == true]">Brandon McGregor</h5>
			</div>
			<section class="span5">
				<ul class="links">
					<li class="current"><a href="#">About Me</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">CV</a></li>
				</ul>
			</section>
		</div>
	</div>
</nav>

<section id="Widescreen" class="visible" ng-style="{height: (main_height_binding + 'px')}">
	<div class="innerts">
		<section id="AboutMe" ng-style="{height: (main_height_binding + 'px')}">
			<!-- <h1 class="my_name">Brandon McGregor</h1> -->
			<h2 class="quick_description">web developer extraordinaire</h2>
			<ul class="categories_of_interests">
				<li>
					<figure class="image"></figure>
					<figcaption>Science</figcaption>
				</li>
				<li class="current">
					<figure class="image"></figure>
					<figcaption>Music</figcaption>
				</li>
				<li>
					<figure class="image"></figure>
					<figcaption>Hobbies</figcaption>
				</li>
				<li>
					<figure class="image"></figure>
					<figcaption>What Next?</figcaption>
				</li>
			</ul>
			<p class="self_rant">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac orci tortor. Quisque nec felis sapien. Aliquam sagittis ligula et dui fringilla congue. Integer ipsum lorem, fermentum non commodo sit amet, ultrices eu enim. Donec rutrum ullamcorper arcu, a porttitor sapien gravida id. Duis vestibulum adipiscing mauris quis sollicitudin. Curabitur nulla ligula, facilisis in vestibulum vitae, pharetra id felis. Maecenas vitae turpis vel diam pulvinar pretium. Vivamus et erat nunc, vitae dictum sapien. Maecenas nunc neque, mollis sed hendrerit ac, viverra vitae justo. Ut a scelerisque dui. Vestibulum in sem lorem. Etiam tincidunt lacinia convallis. Donec pretium, magna sit amet venenatis commodo, felis nisi aliquam nunc, vel elementum lorem mi id enim.
			</p>
		</section>
	</div>
</section>

<nav id="SubNavigation">
	<div class="container-fluid">
		<div class="row-fluid">
			<!-- Put stuff here. -->
		</div>
	</div>
</nav>

