

<div id="Works" class="" ng-controller="WorksCtrl">
    <section class="project-view">
        <div class="container">
            <div class="row-fluid">
                <section class="span12 ">

                </section>
            </div>
        </div>
    </section>
    <nav class="project-selection">
        <div class="container-fluid">
            <div class="row-fluid">
                <ul class="project-list">
                    <li class="project span4"></li>
                    <li class="project span4"></li>
                    <li class="project span4"></li>
                </ul>
            </div>
        </div>
    </nav>
</div>