

<div id="Works" class="" ng-controller="WorksCtrl">
    <section class="project-view">
        <div class="container">
            <div class="row-fluid">
                <section class="span12 ">

                </section>
            </div>
        </div>
    </section>
    <nav class="project-selection">
        <ul class="project-list">
            <li class="project" ng-repeat="project in works" ng-style="project_style">
                <figure class="icon"></figure>
            </li>
        </ul>
    </nav>
</div>