

<div id="Works" class="provide-nav-buffer" ng-controller="WorksCtrl" ng-class="{{'project-' + works[project_idx]}}">
    <section class="project-view">
        <div class="container">
            <div class="row">
                <img class="span5 preview img-polaroid" src="http://placehold.it/500x500"/>
                <section class="span6 offset1 description">
                    <h1>This Website</h1>
                    <h6>Here's some cool stuff about this website...</h6>
                    <ul class="list-of-cool-things">
                        <li>Built with Angular.js.</li>
                        <li>Responsive CSS & JS (resize the window and you'll see).</li>
                        <li>No server-side code. This baby runs client only.</li>
                        <li>All Stylesheet source code is written in SASS.</li>
                        <li>Yeoman! This project's workflow adopts that layed out by Yeoman.</li>
                    </ul>
                </section>
            </div>
        </div>
    </section>
    <section class="project-links">
        
    </section>
    <nav class="project-selection">
        <ul class="project-list">
            <li class="project" ng-repeat="(index, project) in works" ng-style="project_style">
                <figure class="icon" 
                    ng-class="{ true: 'current', false: '' }[index == project_idx]" 
                    ng-click="SelectProject(index)" ></figure>
            </li>
        </ul>
    </nav>
</div>